.container
  :global
    .header
      line-height 30px
      width 100%
      background white
      position relative
      z-index 1000
      margin-bottom 10px
      .vertical-line
        height 30px
        width 2px
      .form-control
        height 30px
      .input-group
        width 240px
    .content
      border1px-t()
      background-color white
      .member-item
        margin 0
        padding 0 10px
        .media-left
          padding 15px 8px 15px 0
          .member-img
            width 60px
            height 60px
            background-size cover
        .media-body
          padding 15px 0
          border1px-b()
          vertical-align middle
        .media-right
          vertical-align middle
          border1px-b()
          .btn
            width 60px
            text-align center
            font-size $smaller-size
      .no-item
        padding-bottom 200px
