$circle-size = 55px

.calendar
  &.flex
    display flex
    li
      flex 1
      margin-left 0
  li
    margin-left -5px
    relative()
    &, &:global(.scroll-bg) > div
      size $circle-size
      border-radius 50%

    &:global(.square)
      &, &:global(.scroll-bg) > div
        border-radius 5px
    > div
      width $circle-size
      middleCenter()
    span
      display block
      line-height 1
      &:first-child
        font-size 20px
      &:last-child
        scaleSize($smaller-size, 16)
