.media
  padding 15px 10px
  margin-top 5px
  background-color $reverse-color
  border-bottom 1px solid $card-line-color
  box-shadow $bottom-shadow

  :global
    .media-heading span
      vertical-align middle

    .media-body > span + span
        margin-left 8px

    .btn-theme-default
      width 80px
      padding 4px

.time-items
  height 0
  overflow hidden
  transition height .5s
  > ol
    margin-top 20px
    > li
      relative()
      > :global(.iconfont)
        absolute()
        top 10px
        left 0
        margin-left 30px
        background-color $reverse-color
        transform translate3d(-50%, 0, 0)
      > ol
        margin-left 30px
        padding-left 40px
        padding-top 10px
        border-left 1px solid $back-color
        > li
          width 25%
          float left
          margin-bottom 10px
    + div :global(.btn)
      width 50%
      font-size 16px
      margin-top 15px
      margin-bottom 25px

.morning .time-item:global(.active)
  color $morning-color
  border-color $morning-color

.afternoon .time-item:global(.active)
  color $afternoon-color
  border-color $afternoon-color

.evening .time-item:global(.active)
  color $evening-color
  border-color $evening-color

.time-item
  relative()
  size 55px
  border-radius 50%
  border 1px solid $remark-color
  color $remark-color
  cursor pointer
  text-align center
  display table-cell
  vertical-align middle

  &:global(.square)
    > span:global(.icon-check)
      transform translate3d(50%, 50%, 0)

  > span
    font-size 16px
    display block
    line-height 1
    &:global(.icon-check)
      absolute()
      top auto
      right 0
      bottom 0
    &:first-child
      transform scale(13 / 16)
    &:last-child
      transform scale(11 / 16)

.no-item
  text-align center
  font-size 15px
  color $subtext-color
  padding-top 50px
  padding-bottom 20px
