@require "../../styles/_variables"

.course-type-panel :global(.panel-body)
  display flex
  > div
    &:first-child
      flex 1
    &:last-child
      flex 9
      overflow auto

.content
  overflow auto
  .schedule-items
    padding 0 10px
    margin-bottom 3px
    background-color REVERSE_COLOR
    box-shadow BOTTOM_SHADOW
  > ol, .schedule-items
    &:last-child
      margin-bottom 0
  :global // @stylint ignore
    .schedule-weekday
      display inline-block
      padding 5px 18px
      color REVERSE_COLOR
      font-size 13px
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
    .media
      &.disabled
        &, .media-content
          color REMARK_COLOR
      .media-heading
        font-size 15px
        margin-bottom 5px
      .media-content
        color PRIMARY_COLOR
        padding-left 42px

.schedule-calendar
  :global // @stylint ignore
    .panel
      margin-bottom 3px
      border-left none
      border-right none
      .panel-body
        padding 10px
        overflow hidden
        @media (min-width: 768px)
          overflow auto
    .scroll-list
      margin-bottom 0
      &, li
        relative()
      li
        float left
        text-align center
        z-index 1
        color SUBTEXT_COLOR
        overflow ellipsis
        cursor pointer
        &.active
          color REVERSE_COLOR
          cursor default
        &.disabled
          color REMARK_COLOR
          cursor not-allowed
        &.first
          margin-left 0
        &.scroll-bg
          absolute()
          margin-left 0
          z-index 0
          top 0
          left 0
          transform translate3d(0, 0, 0)
          visibility hidden
          &.active
            visibility visible
      &, .scroll-bg
        transition transform .5s
