li.media(:class="classes.media")
  .media-body(@click="activeSchedule")
    h4.media-heading
      | {{ scheduleRange[0] | formatDate("HH:mm") }}
      | {{ scheduleName }}
    .media-content
      | 时长：{{ scheduleDuration }}min
      br
      | 老师：{{ coachName }}
      br
      template(v-if="remainingNum")
        span.icon-character.theme-bg 预
        | 还可预订{{ remainingNum }}人
      template(v-else)
        span.icon-character.remark-bg 满
        | 已订满
      template(v-if="bookedNum")
        span.icon-character(:class="{'theme-bg': remainingNum, 'remark-bg': !remainingNum}") 我
        | 已预订{{ bookedNum }}人
  .media-right.media-middle(@click="gotoDetail")
    .media-object(:class="style ? 'square' : 'img-circle'", v-lazy:background-image="$util.imgPath(courseImg)", lazy="loading")
