li.media(:class="$style.media")
  .media-body
    h4.media-heading
      | {{ scheduleStartTime | formatDate("HH:mm") }}
      | {{ scheduleName }}
    .media-content
      | 时长：{{ scheduleDuration }}min
      br
      | 老师：{{ scheduleCoach }}
      br
      template(v-if="scheduleRemaining")
        span.icon-character.theme-bg 预
        | 还可预订{{ scheduleRemaining }}人
      template(v-else="")
        span.icon-character.remark-bg 满
        | 已订满
      template(v-if="scheduleBooked")
        span.icon-character(:class="{'theme-bg': scheduleRemaining, 'remark-bg': !scheduleRemaining}") 我
        | 已预订{{ scheduleBooked }}人
  .media-right.media-middle
    .media-object.img-circle(v-lazy:background-image="$util.imgPath(coursePicUrl)", lazy="loading")
