@require "../../styles/_variables"

.schedule-weekday
  display inline-block
  padding 5px 18px
  color REVERSE_COLOR
  font-size 13px
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
