li(:style="itemsStyle")
  .theme-bg.schedule-weekday {{ date | getWeekday }}
  ol.list-unstyled(v-if="scheduleItems.length")
    schedule-item(v-for="(scheduleItem, index) of scheduleItems",
    :key="scheduleItem.scheduleId",
    :class="{disabled: !scheduleItem.scheduleRemaining}",
    v-bind="scheduleItem")
