@require "../../styles/_variables"

:global
  .media
    padding 15px 0
    border-bottom 1px solid CARD_LINE_COLOR
    margin-top 0
    &:last-child
      border-bottom none
    &:local(.disabled)
      &, :local(.media-content)
        color REMARK_COLOR
    .media-heading
      font-size 15px
      margin-bottom 5px
    :local(.media-content)
      color PRIMARY_COLOR
      padding-left 42px
