@require "../../styles/_variables"

.media
  padding 15px 0
  border-bottom 1px solid CARD_LINE_COLOR
  margin-top 0
  &:last-child
    border-bottom none
  &.disabled
    &, .media-content
      color REMARK_COLOR
  .media-heading
    font-size 15px
    margin-bottom 5px
  .media-content
    color PRIMARY_COLOR
    padding-left 42px
