.course
  margin-top 2px

.course-pic
  width 100%
  height 187px

.header
  text-align left
  padding 0 10px
  background-color $reverse-color

  > div
    padding 8px 5px
    border-bottom 1px dashed $border-color

    > :first-child
      padding-right 5px
      font-size 16px
      color $stress-color

    > :last-child
      color $subtext-color

  > p
    margin 0
    padding 5px 10px
    color $subtext-color

.content
  text-align left
  margin-bottom 10px
  padding 0 15px 15px
  background-color $reverse-color

  > ul
    padding 0 15px

    li
      > :first-child
        padding 16px 0 10px
        color $default-color

      > :last-child
        color $subtext-color

.portrait
  width 91px
  height 91px
  margin 0 auto
  border 2px solid $back-color

.coach
  padding-top 30px
  margin-top 2px
  background-color $reverse-color
  text-align center

  > div
    relative()

  > p
    margin 0
    padding 16px 0 28px
    font-size 16px
    border-bottom 1px solid $border-color

.coach-rate
  absolute()
  left 50%
  transform translate3d(-50%, 0, 0)
  bottom -5px
  border-radius 30px
  border 1px solid $back-color
  background-color $back-light-color

.no-rate
  padding 0 7px

.no-content
  text-align left
  margin-bottom 10px
  padding 10px 15px
  color $subtext-color
  background-color $reverse-color

  > p
    margin 0


