div(:class="[classes.pickers]")
  picker-list(v-for="(pickerListData, index) of pickerList",
  v-bind="pickerListData",
  :index="index",
  :hasTitle="hasTitle",
  :visibleCount="visibleCount",
  @itemChanged="itemChanged")
