div(:class="[classes.pickers, {[classes.tbs]: $util.IS_TBS && changingIndex != null}]")
  div(v-if="pickerTitle", :class="classes.pickersTitle") {{ pickerTitle }}
  template(v-for="(pickerListData, index) of pickerList")
    picker-list(v-bind="pickerListData",
    :index="index",
    :changingIndex="changingIndex",
    :maxWidth="maxWidth",
    :hasTitle="!!hasTitle",
    :visibleCount="visibleCount",
    @itemChanged="itemChanged")
    div(v-if="pickerDivider && index !== pickerList.length - 1", :class="[classes.pickerDivider, {[classes.hasTitle]: hasTitle}]")
