div(:class="[classes.pickers]")
  template(v-for="(pickerListData, index) of pickerList")
    picker-list(v-bind="pickerListData",
    :index="index",
    :hasTitle="hasTitle",
    :visibleCount="visibleCount",
    @itemChanged="itemChanged")
    div(v-if="index !== pickerList.length - 1", :class="[classes.pickerDivider, {[classes.hasTitle]: hasTitle}]")
