.picker-titles, .picker-list
  overflow hidden
  perspective 500px
  display flex
  relative()

.picker-title
  flex 1
  padding 10px

.picker-divider
  visibility hidden

.picker-highlight
  middleCenter()
  width 100%
  height 36px
