div(:class="classes.pickers")
  div(v-if="pickerTitle", :class="classes.pickersTitle") {{ pickerTitle }}
  template(v-for="(pickerList, index) of pickers")
    picker-list(v-bind="pickerList",
    :index="index",
    :length="pickers.length",
    :maxWidth="maxWidth",
    :hasTitle="!!hasTitle",
    :mask="pickerMask",
    :visibleCount="visibleCount",
    @itemChanged="itemChanged")
    div(v-if="pickerDivider && index !== pickers.length - 1", :class="[classes.pickerDivider, {[classes.hasTitle]: hasTitle}]")
