.picker-list
  relative()
  z-index 1
  flex 1
  padding 0 10px
  transition transform .5s
  backface-visibility hidden

.picker-item
  height 36px
  line-height 36px
  overflow ellipsis

.picker-divider
  display flex
  align-items center
