div(v-if="divider", :class="[classes.pickerDivider, className]", v-html="divider")
div(v-else,
:class="[classes.pickerList, className, `text-${textAlign}`]",
:style="{flex, height}",
v-hammer:panstart="moveStart",
v-hammer:panmove="moving",
v-hammer:panend="moveEnd",
v-hammer:pan.options="{direction: 'all'}")
  div(:class="classes.pickerItems", :style="{transform}")
    div(v-for="(value, index) of values",
    :class="[classes.pickerItem, {'theme-color': currIndex === index}]",
    @click="tapItem(index)") {{ value[valueText] }}
