.picker-list
  flex 1

.picker-items
  relative()
  z-index 1
  padding 0 10px
  transition transform .5s

.picker-item
  height 36px
  line-height 36px
  overflow ellipsis

.picker-divider
  display flex
  align-items center
