{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-flow",
    "transform-async-to-generator",
    "transform-flow-strip-types",
    "transform-runtime",
    "transform-vue-jsx",
    [
      "typecheck",
      {
        "disable": {
          "production": true
        }
      }
    ]
  ],
  "comments": false,
  "passPerPreset": true,
  "env": {
    "testing": {
      "plugins": [
        [
          "__coverage__",
          {
            "ignore": "test/"
          }
        ]
      ]
    }
  }
}
