.content
  header
    padding 10px

  :global(.panel-body)
    line-height (25 / 14)

    span
      margin-left 10px

.use-condition
  background-color $back-light-color
  padding 10px
  margin-top 0

  :global(.media-left)
    white-space nowrap
