.container
  relative()

  :global
    .tooltip
      absolute()
      display none
      background-color rgba(0, 0, 0, .6)
      color $reverse-color
      border-radius 5px
      border 0
      outline 0
      padding 5px 8px
      z-index 100

    .arrow
      absolute()
      size 0
      border-style solid
