.container

  :global

    .media
      padding 15px
      margin-bottom 20px
      background-color $reverse-color

    .fixed-bottom
      text-align center
      flex-direction column
      padding 15px

.tips
  color $remark-color
  scaleSize($smaller-size, , , left)
