div(v-if="modals.length")
  .black-mask(v-if="currModal && currModal.options.backdrop")
  component(v-for="{component, id, props, options} of modals",
  :is="component",
  :key="id",
  ref="modal",
  v-bind="props",
  v-show="options.show")
