div(v-if="modals.length")
  .mask(v-if="backdrop", :class="{transparent: backdrop === 'transparent'}", @click="toggle")
  component(v-for="{component, id, props, options} of modals",
  :is="component",
  :key="id",
  ref="modal",
  v-bind="props",
  v-show="options.show")
