@require '../../styles/_variables.styl'

.modal
  display none
  overflow hidden
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1050
  -webkit-overflow-scrolling touch
  outline 0

:global
  .modal-dialog
    position relative
    width auto
    margin 10px

  .modal-content
    background-color BACK_LIGHT_COLOR
    border 1px solid rgba(0, 0, 0, .2)
    border-radius 10px
    box-shadow 0 3px 9px rgba(0, 0, 0, .5)
    background-clip padding-box
    position relative
    outline 0

  .modal-header
    padding 10px
    border-bottom 1px solid BACK_COLOR

  .modal-header .close
    margin-top -2px

  .modal-title
    margin 0
    line-height 22px

  .modal-body
    padding 22px
    text-align center
    line-height 22px
    p
      margin 0

  .modal-footer
    text-align center
    border-top 1px solid BACK_COLOR
    height 50px
    display flex

    .btn-footer
      flex 1
      cursor pointer
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      height 48px
      line-height 48px
      + .btn-footer
        border-left 1px solid BACK_COLOR

  @media (min-width 768px)
    .modal-dialog
      width 600px
      margin 30px auto

    .modal-content
      box-shadow 0 5px 15px rgba(0, 0, 0, .5)
