@require '../../styles/_variables.styl'

.modal-base
  display none
  overflow hidden
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1050
  -webkit-overflow-scrolling touch
  outline 0
:global
  .modal-base-dialog
    position relative
    width auto
    margin 10px

  .modal-base-content
    background-color BACK_LIGHT_COLOR
    border 1px solid rgba(0, 0, 0, .2)
    border-radius 6px
    box-shadow 0 3px 9px rgba(0, 0, 0, .5)
    background-clip padding-box
    position relative
    outline 0

  .modal-base-header
    padding 10px
    border-bottom 1px solid BACK_COLOR

  .modal-base-header .close
    margin-top -2px

  .modal-base-title
    margin 0
    line-height 22px

  .modal-base-body
    padding 22px
    text-align center
    line-height 22px
    p
      margin 0

  .modal-base-footer
    text-align center
    border-top 1px solid BACK_COLOR
    height 50px
    clear both

    .btn-footer
      display inline-block
      width 50%
      cursor pointer
      line-height 50px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    .btn-cancel
      border-right 1px solid BACK_COLOR
      float left

    .btn-footer-confirm
      width 100%

  @media (min-width 768px)
    .modal-base-dialog
      width 600px
      margin 30px auto
    .modal-base-content
      box-shadow 0 5px 15px rgba(0, 0, 0, .5)
