$header-back-color = #f9f9f9

.backdrop
  composes backdrop from './tip-modal.styl'

.picker-modal
  user-select none

  :global(.modal-header)
    display flex
    background-color $header-back-color
    font-size 16px

    div
      flex 1

      span
        margin -15px
        padding 15px

  :global(.modal-content)
    fixed(left, bottom)
    width 100%
    border-radius 0
    border 0
    box-shadow none

.picker-tabs
  relative()
  z-index 2
  margin-left -10px
  margin-right -10px
