modal-item(:class="classes.pickerModal", :transition="transition")
  template(slot="header")
    div
      span(@click="closePicker") 取消
    .text-right
      span.theme-color(@click="confirmPicker") 确定
  hi-picker(ref="picker",
  :pickers="pickers",
  :pickerDivider="pickerDivider",
  :pickerTitle="pickerTitle",
  @itemChanged="itemChanged")
