$header-back-color = #f9f9f9

.picker-modal
  :global(.modal-header)
    display flex
    background-color $header-back-color
    font-size 16px

    div
      flex 1

      span
        margin -15px
        padding 15px

  :global(.modal-content)
    fixed(bottom)
    width 100%
    border-radius 0
    border 0
    box-shadow none
