@require '../../styles/_variables.styl'

.prompt
  :global // @stylint ignore
    .modal-content
      position fixed
      left 50%
      top 50%
      transform translate3d(-50%, -50%, 0)
      width 240px

      .modal-body
        padding-top 24px
        padding-bottom 24px
        text-align center

      .modal-footer
        display flex
        padding 0

.btn-prompt
  flex 1
  padding 15px
  cursor pointer
  text-align center
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

  + .btn-prompt
    border-left 1px solid BACK_COLOR

.prompt-text
  padding 15px
  background-color BG_COLOR

  textarea
    display block
    padding 0
    width 100%
    height 60px
    resize none
    border 0
    outline 0
    color REMARK_COLOR
    background-color transparent

    &:focus
      outline-offset 0
