@require '../../styles/_variables.styl'

.prompt
  display block

  :global // @stylint ignore
    .modal-content
      position fixed
      left 50%
      top 50%
      transform translate3d(-50%, -50%, 0)
      width 70%
      max-width 448px

      .modal-body
        text-align center
        padding 22px

      .modal-footer
        display flex
        padding 0
.btn-prompt
  flex 1
  cursor pointer
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  height 48px
  line-height 48px
  text-align center
  padding 0
  border-radius 0

  + .btn-prompt
    border-left 1px solid BACK_COLOR

.prompt-text
  padding 15px
  background-color BG_COLOR

  textarea
    background-color transparent
    color REMARK_COLOR
    width 100%
    resize none
    border 0
    height 60px
    outline 0
    padding 0
    display block

    &:focus
      outline-offset 0
