.backdrop
  background-color rgba(0, 0, 0, .5)
  pointer-events auto

.tip
  z-index 1051

  &.illustrate
    :global
      .modal-header
        border-bottom 0
        background-image none

      .modal-body
        padding 10px 15px
        text-align left

  :global
    .modal-content
      middleCenter(fixed)
      width 240px

    .modal-body
      padding-top 24px
      padding-bottom 24px
      text-align center

    .modal-footer
      display flex
      padding 0

.btn-prompt
  flex 1
  padding 15px
  cursor pointer
  text-align center
  overflow ellipsis

  + .btn-prompt
    border-left 1px solid $back-color

.prompt-text
  padding 15px
  background-color $bg-color

  textarea
    display block
    padding 0
    size 100% 60px
    resize none
    border 0
    outline 0
    color $remark-color
    background-color transparent

    &:focus
      outline-offset 0
