modal-item(:class="[classes.tip, {[classes.backdrop]: backdrop}]", :transition="true")
  template(v-if="type === 3")
    .modal-title(slot="header") {{ tipText }}
    div(slot="body", :class="classes.promptText")
      textarea(v-model="text", :placeholder="placeholder")
  .modal-body(v-else, slot="body", v-html="tipText")
  template(v-if="type", slot="footer")
    div(v-if="type - 1", :class="classes.btnPrompt", @click="closeModal") {{ cancelText  }}
    .theme-color(:class="classes.btnPrompt", @click="confirmModal") {{ confirmText }}
