.content
  margin-top 40px
  .container
    display flex
    height 300px
    :global
      ul
        flex 1
        margin-bottom 0
        text-align center
        border1px-r()

        li
          line-height 40px
