.container
  overflow hidden
  margin 0 -10px 5px

  .voucher-list
    list-style none
    padding-left 0
    margin-bottom 0
    margin-left ((375 - 330) / 2px)
    transition transform 1s

.scroll
  overflow scroll
