ol.list-unstyled(v-if="messages && messages.length")
  li(v-for="{date, msgs} in messages")
    div(:class="$style.title")
      span(:class="[$style.date, 'theme-color']") {{ date | dateText('YYYY.MM.DD') }}
    ol(:class="$style.panelContent")
      li(v-for="{read, type, createTime, messageContent} in msgs", :class="{'remark-color': read}")
        span {{ type }}
        span(:class="$style.time") {{ createTime | formatDate('HH:mm') }}
        div(:class="$style.messageContent") {{ messageContent }}
div(v-else, :class="$style.noDetail")
  img.center-block(:src="'people?w=200&h=200&random=1' | imgPath")
  | 亲~您还没有任何消息哟~
