@require "../../../styles/_variables"

IMG_SIZE = 160px

.title
  padding 10px

.date
  padding-left 5px
  border-left 5px solid

.panel-content
  padding-left 0

  span
    display inline-block

  li
    padding 10px
    background BACK_LIGHT_COLOR

    + li
      border-top 1px solid BACK_COLOR

.time
  float right
  scaleSize(, , , left)

.message-content
  margin-top 10px
  scaleSize(, , , left)

.no-detail
  text-align center
  padding-top 20px
  font-size 15px
  color SUBTEXT_COLOR

  img
    width IMG_SIZE
    height IMG_SIZE
    margin-bottom 30px
