ol.list-unstyled(v-if="messages && messages.length")
  li(v-for="{date, msgs} in messages")
    div(:class="classes.title")
      span(:class="[classes.date, 'theme-color']") {{ date | dateText('YYYY.MM.DD') }}
    ol(:class="classes.panelContent")
      li(v-for="{read, type, createTime, messageContent} in msgs", :class="{'remark-color': read}")
        span {{ type }}
        span(:class="classes.time") {{ createTime | formatDate('HH:mm') }}
        div(:class="classes.messageContent") {{ messageContent }}
div(v-else, :class="classes.noDetail")
  img.center-block(:src="'200/200?random' | imgPath")
  | 亲~您还没有任何消息哟~
