div(:class="classes.container")
  div(v-if="msg && msg.length", v-for="mm in msg")
    div(:class="classes.panelTitle")
      span(:class="[classes.date, 'theme-color']") {{mm.date}}
    div(:class="classes.panelContent")
      ul
        li(v-for="message in mm.messages", :class="[message.readState ? classes.past :'']")
          div(:class="classes.mesTitle")
            span(:class="classes.messageType") {{message.type|resetMsgType}}
            span(:class="classes.time") {{message.createTime|formatDate('HH:mm')}}
          div(:class="classes.mesContent") {{message.msgContent}}
  div(v-else, :class="classes.noDetail")
    img(:src="'200/200?random' | imgPath")
    span(:class="classes.noMessage") 亲~您还没有任何消息哟~
