@require "../../../styles/_variables"
.content
  .container
    padding-bottom 60px
    .panel
      .panel-title
        padding 10px
        background-color BG_COLOR
        .date, .time
          padding-left 5px
          border-left 5px solid
          font-family "Helvetica Neue", Helvetica, Arial, sans-serif

        .time
          line-height 28px
      .panel-content
        ul
          margin-bottom 0
          padding-left 0
          li
            display block
            padding 15px 10px
            font-size 14px
            line-height 19px
            background BACK_LIGHT_COLOR
            border-top 1px solid BACK_COLOR
            .mes-title
              overflow hidden
              .message-type
                float left
              .time
                float right
                font-size 13px
                line-height 16px
            .mes-content
              font-size 13px
              margin-top 10px
            &:first-child
              border-top 0
      .past
        color REMARK_COLOR
        .mes-content kh
          color REMARK_COLOR
    .no-detail
      text-align center
      padding-top 90px
      img
        width 156px
      .no-message
        display block
        font-size 15px
        color SUBTEXT_COLOR
        margin-top 30px




