.media
  width 100%
  .media-left
    width 30px
    padding-right 0
    .beHide
      opacity 0
  .media-body
    border1px-b($border-color)
    .bold-font
      font-weight 900
    .stress-color
      color $stress-color
      font-size 15px
    .primary-color
      color $primary-color
    .right
      float right
  &:last-child
    .media-body
      border-bottom 0
