div(:class="classes.container")
  span.iconfont.icon-jianhao.stress-size(@click="canSubtract && clickEvent(-1)", :class="canSubtract ? 'theme-color' : 'disabled'")
  span.curr {{currIns}}
  span.iconfont.icon-jiahao.stress-size(@click="canAdd && clickEvent(1)", :class="canAdd ? 'theme-color' : 'disabled'")
