.coach-info, .rest-times
  margin-bottom 8px
  background-color $back-light-color

.coach-info
  padding 8px 10px

.portrait
  padding 10px 0
  position relative
  text-align center

.coach-portrait
  width 91px
  height 91px
  margin 0 auto
  border 2px solid $back-color

.coach-rate
  left 50%
  bottom 5px
  position absolute
  border-radius 30px
  border 1px solid $back-color
  transform translate3d(-50%, 0, 0)
  background-color $back-light-color

.no-rate
  padding 1px 10px
  color $primary-color
  vertical-align middle
  font-size $smaller-size

.coach-name
  text-align center
  color $stress-color
  font-size $primary-size

  span
    vertical-align middle

.coach-gender
  margin-left 5px

.courses
  text-align center
  padding 0 20px

  div
    margin 5px
    padding 5px 15px
    border-radius 30px
    color $subtext-color
    display inline-block
    font-size $small-size
    background-color $card-back

.detail
  padding 20px 0 0
  margin-top 30px
  position relative

.title
  position absolute
  left 50%
  top -10px
  padding 0 20px
  transform translate3d(-50%, 0, 0)
  background-color $back-light-color

.coach-detail
  margin 0
  overflow hidden
  max-height 100px
  padding-left 25px
  margin-bottom 25px
  font-size $common-size
  transition all .5s ease

  li
    margin-bottom 8px

.open
  max-height 280px
  overflow scroll

.detail-item
  color $stress-color
  vertical-align middle

  div
    line-height 20px
    color $subtext-color
    font-size $small-size

  span
    scaleSize(18)
    margin-right 5px
    vertical-align middle

.mobile-visible
  margin-left 7px
  color $remark-color

.open-or-close
  width 100%
  padding 5px
  bottom -30px
  position absolute
  text-align center
  font-size $small-size
  box-shadow 0 -3px 40px $back-light-color

  span
    vertical-align middle

.icon-arrow
  scaleSize(13)
  margin-left 5px

.rest-times
  padding 0 10px

.add-rest-time
  padding 15px 0
  font-size $primary-size

  span
    vertical-align middle

.dashed-line
  border-bottom 1px dashed $remark-color

.icon-add
  scaleSize(20)
  margin-right 5px

.rest-time-item
  span
    padding 10px 0
    width 3000px
    display table-cell
    color $primary-color
    font-size $primary-size

.delete-rest-time
  text-align right

.coach-reviews
  background-color $back-light-color

.review-title
  margin 0 10px
  padding 10px 5px
  font-size $primary-size
  border-bottom 1px dashed $remark-color

.empty-text
  padding 15px 5px
  color $remark-color
  font-size $small-size

