.container
  absolute()
  top 0
  right 10px
  color $back-light-color

  button
    width 36px
    border-bottom-left-radius 50%
    border-bottom-right-radius 50%
    border 0
    padding 0

.content
  display block
  position relative
  height 35px
  transition transform .5s

  span
    absolute()
    top 50%
    left 50%
    transform translate3d(-50%, -50%, 0)

.wrapper
  overflow hidden
  position relative

.list
  transition transform 1s ease
  position relative
  transform translate3d(0, -75px, 0)

  li
    text-align center
    border-radius 50%
    width 30px
    height 30px
    margin-left auto
    margin-right auto
    cursor pointer
    margin-top 5px

    span
      font-size 13px
      line-height 30px
      display inline-block

.active
  .content
    transform rotateX(180deg)

  .list
    transform translateZ(0)

