.card-list
  padding 10px 18px
  margin-bottom 60px

.buy-card
  fixed(bottom)
  width 100%
  text-align center
  color $reverse-color
  padding 8px 18px
  background-color $reverse-color
  z-index 2

  > div
    padding 12px
    border-radius 22px

