$icon-bg-color = #fb623b

.workbench-menus
  :global(.modal-content)
    border 0
    border-radius 0

  :global(.modal-body)
    max-height 600px
    overflow-y scroll
    padding 0

  :global(.modal-footer)
    border-top 0
    padding 20px
    text-align center
    background-color $card-line-color

.menu-type
  .type-title
    padding 10px
    text-align center
    font-size $big-size
    color $primary-color
    background-color $card-line-color

  .menu-items
    padding 10px 0
    position relative

    .icon-recommend
      top -7px
      font-size 35px
      position absolute
      color $icon-bg-color

    .semi-fillet
      top 0
      width 20px
      height 16px
      position absolute
      border-bottom-right-radius 30px
      border 4px solid $card-line-color
      border-top 0

    ol
      padding-left 0

    .menu-item
      width 20%
      display inline-block

      .icon-menu
        font-size 44px
        text-align center

      .menu-name
        text-align center
        font-size $small-size
        color $primary-color

      span
        display block

      .icon-enterprise
        display none

    .disabled
      position relative

      .icon-enterprise
        top 0
        right 10px
        width 20px
        height 20px
        display block
        position absolute
        text-align center
        border-radius 30px
        color $reverse-color
        background-color $remark-color

      .icon-menu
        color $remark-color

      .menu-name
        color $subtext-color

.icon-close
  font-size 30px
  color $subtext-color
