modal-item(:class="classes.workbenchMenus",)
  div(:style="{height}")
    each val, index in [{typeTitle:'营销推广', menuItems:[{icon:'gift', name:'营销活动'}, {icon:'computer', name:'微官网'}, {icon:'speaker', name:'宣传秀', need:true}, {icon:'visitor', name:'访客管理', need:true}, {icon:'order', name:'订单管理', need:true}]}, {typeTitle:'会员服务', menuItems:[{icon:'public', name:'会员管理'}, {icon:'card',name:'会员卡管理'}, {icon:'checkin', name:'会员签到'}, {icon:'booking',name:'预订管理'}, {icon:'calendar', name:'排期管理'}, {icon:'one-on-one',name:'私教管理'}]},{typeTitle:'内务管理', menuItems:[{icon:'course', name:'课程管理'}, {icon:'teacher', name:'教练管理'}, {icon:'staff', name:'员工管理'}, {icon:'data-trends', name:'数据分析'}, {icon:'system-settings', name:'系统设置'}, {icon:'notice', name:'会员须知'}, {icon:'house', name:'场馆信息'}, {icon:'business-card', name:'个人信息'}]}]
      div(:class="classes.menuType")
        div(:class="classes.typeTitle") #{val.typeTitle}
        div(:class="classes.menuItems")
          case index
            when 0
              span.iconfont.icon-recommend(:class="classes.iconRecommend")
            default
              .theme-bg(:class="classes.semiFillet")
          ol
            each menuItem in val.menuItems
              if menuItem.need
                li(:class="isEnterprise ? classes.menuItem : [classes.menuItem, classes.disabled]", @click="alertTip")
                  span(:class="[classes.iconMenu, {'theme-color':isEnterprise}]", class="iconfont icon-" + menuItem.icon)
                  div(:class="classes.iconEnterprise") 企
                  span(:class="classes.menuName") #{menuItem.name}
              else
                li(:class="classes.menuItem")
                  span.iconfont.theme-color(:class="classes.iconMenu", class="icon-" + menuItem.icon)
                  span(:class="classes.menuName") #{menuItem.name}

  template(slot="footer")
    span.iconfont.icon-close(:class="classes.iconClose", @click="closeMenu")
