.container
  padding 15px
  list-style none

  li
    margin-bottom 10px

.prompt
  margin-top 80px
  text-align center

  span
    display inline-block
    scaleSize()

.get-voucher
  margin-top 30px
  padding-left 50px
  padding-right 50px
