div
  button.btn.btn-theme-primary(@click="addModal") Add modal
  button.btn.btn-theme-default(@click="clearModal") Clear modal

  br

  button.btn.btn-theme-default(@click="loginModal") login modal
  button.btn.btn-theme-default(@click="alertModal") Alert modal
  button.btn.btn-theme-default(@click="confirmModal") Confirm modal
  button.btn.btn-theme-default(@click="toastModal") Toast modal
  button.btn.btn-theme-default(@click="promptModal") Prompt modal

  br

  button.btn.btn-theme-default(@click="pickerModal") Picker modal
  button.btn.btn-theme-default(@click="regionPickerModal") RegionPicker modal

  .theme-color(v-html="promptText")

  hr

  template(v-if="regions && regions.length", v-for="region of regions")
    | {{ region[1] }}
