div
  button.btn.btn-theme-primary(@click="addModal") Add modal
  button.btn.btn-theme-default(@click="clearModal") Clear modal

  br

  button.btn.btn-theme-default(@click="loginModal") login modal
  button.btn.btn-theme-default(@click="alertModal") Alert modal
  button.btn.btn-theme-default(@click="confirmModal") Confirm modal
  button.btn.btn-theme-default(@click="toastModal") Toast modal
  button.btn.btn-theme-default(@click="promptModal") Prompt modal
  .theme-color(v-html="promptText")
