.card-head, .card-body
  padding-left 10px
  padding-right 10px
  color $primary-color
  font-size $primary-size
  background-color $back-light-color

.card-head
  padding-top 20px
  padding-bottom 15px

.card
  padding-bottom 10px

.sold-num
  padding 15px 8px 0

.icon-right
  float right
  color $remark-lighter-color

.card-body
  margin-top 10px

.title
  padding 10px 7px

  span
    padding-left 5px
    border-left 4px solid

.item
  padding 5px 4px
  font-size $common-size

  span
    padding-left 5px
    color $subtext-color

.protocol
  scaleSize($smaller-size, , , left)
  padding 10px 15px
  color $primary-color

.text, .pay-protocol
  vertical-align middle

.select-button
  scaleSize($common-size, , , left)
  margin-right 5px
  vertical-align middle

.pay-protocol
  margin-left 5px

.card-foot
  padding 15px
  margin-top 10px
  text-align center
  margin-bottom 16px
  font-size $common-size
  color $highlight-color
  background-color $back-light-color

.pay
  padding 0
  padding-top 1px
  display table-cell

.payment-amount, .pay-button
  display table-cell

.payment-amount
  width 6000px
  padding 18px 15px
  color $primary-color
  font-size $primary-size
  background-color $back-light-color

.pay-button
  width 4000px
  text-align center
  color $reverse-color
  font-size $stress-size

.btn-disable
  background-color $remark-color
