schedule-calendar(:calendar="calendar",
:date="date",
:subscribeType="subscribeType",
:keyPrefix="courseTypeId",
:month="classes.month",
:schedules="schedules",
:coaches="coaches",
:contentStyle="contentStyle",
@toggleActiveDate="toggleActiveDate",
@activeSchedule="activeSchedule",
@subscribePrivate="subscribePrivate")
  ul.list-unstyled.clearfix.scroll-list(:class="classes.courseTypes", :style="typesStyle")
    li(v-for="(courseType, index) of courseTypes",
    :class="{first: !index, active: courseTypeId === courseType.courseTypeId}",
    @click="toggleCourseType(courseType.courseTypeId)") {{ courseType.courseTypeName }}
    li.theme-bg.scroll-bg.active(:style="{transform}")
