@require "_variables"

THEME_COLOR ?= THEME_PURPLE
THEME_COLOR_DARKER ?= THEME_PURPLE_DARKER

.theme-color
  color THEME_COLOR !important            // @stylint ignore

.theme-bd
  border-color THEME_COLOR !important     // @stylint ignore

.theme-bg
  background-color THEME_COLOR !important // @stylint ignore

.btn-primary
  height INPUT_SIZE
  border-radius HALF_INPUT_SIZE
  bbColor THEME_COLOR                     // @stylint ignore
  bbActive THEME_COLOR_DARKER             // @stylint ignore
