@require "_variables"
@require "iconfont"
@require "transition"

body.bg
  background-color BG_COLOR

a
  &, &:active, &:hover, &:visited
    color inherit
    text-decoration none

// @stylint off
input
  placeholder(color PLACEHOLDER_COLOR,)
  &,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    appearance none
// @stylint on

.btn
  font-hei()
  &.btn-hg
    padding 11px 15px

.input-group-addon
  color ICON_COLOR
  background-color BACK_LIGHT_COLOR !important // @stylint ignore
  &:first-child + .form-control
    border-left 0
    padding-left 0
    &:not(:last-child)
      border-right 0

.form-control
  height INPUT_SIZE
  &, &:focus
    box-shadow none !important // @stylint ignore
    border-color INPUT_BORDER_COLOR

.input-group-addon,
.form-control
  padding 6px 12px
  &:first-child
    padding-left 22px
    border-radius HALF_INPUT_SIZE 0 0 HALF_INPUT_SIZE
  &:last-child
    border-radius 0 HALF_INPUT_SIZE HALF_INPUT_SIZE 0
  &
    border-color INPUT_BORDER_COLOR

.has-error
  .form-control
    &, &:focus
      border-color HIGHLIGHT_COLOR
  .input-group-addon
    color ICON_COLOR
    border-color HIGHLIGHT_COLOR
  .form-control-static
    color HIGHLIGHT_COLOR

.icon-character
  display inline-block
  line-height 1
  border-radius 5px
  padding 4px
  color REVERSE_COLOR
  scaleSize(10)
  margin-left -2px
  margin-right -2px

.remark-color
  color REMARK_COLOR

.remark-bg
  background-color REMARK_COLOR

.panel-full
  padding-left 10px
  padding-right 10px
  border-radius 0

  .panel-heading
    border-color CARD_LINE_COLOR

  .panel-heading, .panel-body, .panel-footer
    padding-left 0
    padding-right 0
