@require "iconfont"
@require "transition"

body.bg
  background-color BG_COLOR

a
  &, &:active, &:hover, &:visited
    color inherit
    text-decoration none

// @stylint off
input
  placeholder(color PLACEHOLDER_COLOR,)
  &,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    appearance none

// @stylint on

.btn
  font-hei()
  &.btn-hg
    padding 11px 15px

.input-group-addon
  color ICON_COLOR
  background-color BACK_LIGHT_COLOR !important // @stylint ignore
  &:first-child + .form-control
    border-left 0
    padding-left 0
    &:not(:last-child)
      border-right 0

.form-control
  height INPUT_SIZE
  &, &:focus
    box-shadow none !important // @stylint ignore
    border-color INPUT_BORDER_COLOR

.input-group-addon,
.form-control
  padding 6px 12px
  &:first-child
    padding-left 22px
    border-radius HALF_INPUT_SIZE 0 0 HALF_INPUT_SIZE
  &:last-child
    border-radius 0 HALF_INPUT_SIZE HALF_INPUT_SIZE 0
  &
    border-color INPUT_BORDER_COLOR

.has-error
  .form-control
    &, &:focus
      border-color HIGHLIGHT_COLOR
  .input-group-addon
    color ICON_COLOR
    border-color HIGHLIGHT_COLOR
  .form-control-static
    color HIGHLIGHT_COLOR

.icon-character
  display inline-block
  line-height 1
  border-radius 5px
  padding 4px
  color REVERSE_COLOR
  scaleSize(10)
  margin-left -2px
  margin-right -2px

.remark-color
  color REMARK_COLOR

.remark-bg
  background-color REMARK_COLOR

.panel-full
  padding-left 10px
  padding-right 10px
  border-radius 0

  .panel-heading
    border-color CARD_LINE_COLOR

  .panel-heading, .panel-body, .panel-footer
    padding-left 0
    padding-right 0

// 1px fallback
.border
  border 1px solid BORDER_COLOR

.border-t
  border-top 1px solid BORDER_COLOR

.border-b
  border-bottom 1px solid BORDER_COLOR

.border-tb
  border-top BORDER_COLOR 1px solid
  border-bottom BORDER_COLOR 1px solid
  background-image none

.border-l
  border-left 1px solid BORDER_COLOR

.border-r
  border-right 1px solid BORDER_COLOR

.border-radius
  borderRadius()

.font-black
  color STRESS_COLOR !important // @stylint ignore

.dom-hide
  display none !important // @stylint ignore

@media (min-resolution 2dppx)
  .border
    position relative
    border 0

  .border-t, .border-b, .border-l, .border-r, .border-tb
    border 0

  .border-t
    background-position left top
    background-image BORDER_T

  .border-b
    background-position left bottom
    background-image BORDER_B

  .border-t,
  .border-b,
  .border-tb
    background-repeat repeat-x
    background-size 100% 1px

  .border-tb
    background-image BORDER_T, BORDER_B
    background-position top, bottom

  .border-l
    background-position left top
    background-image BORDER_L

  .border-r
    background-position right top
    background-image BORDER_R

  .border-l,
  .border-r
    background-repeat repeat-y
    background-size 1px 100%

  .border:after
    content ""
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background-image BORDER_T, BORDER_R, BORDER_B, BORDER_L
    background-size 100% 1px, 1px 100%, 100% 1px, 1px 100%
    background-repeat no-repeat
    background-position top, right, bottom, left
    padding 1px
    box-sizing border-box
    z-index Z_INDEX_BORDER
    pointer-events none

.white-mask, .black-mask
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 500
  background-color STRESS_COLOR

.white-mask
  opacity 0

.black-mask
  opacity .5
