@require "iconfont/iconfont.css"

.iconfont
  relative()
  font-size 16px
  &.inactive
    color REMARK_COLOR

.icon-male, .icon-female
  color ICON_COLOR

.icon-male
  &.active
    color MALE_COLOR

.icon-female
  &.active
    color FEMALE_COLOR

.icon-morning
  color MORNING_COLOR

.icon-afternoon
  color AFTERNOON_COLOR

.icon-evening
  color EVENING_COLOR
