@require "iconfont/iconfont.css"

.iconfont
  relative()
  font-size 16px
  &.inactive
    color $remark-color

.icon-male, .icon-female
  color $icon-color

.icon-male
  &.active
    color $male-color

.icon-female
  &.active
    color $female-color

.icon-morning
  color $morning-color

.icon-afternoon
  color $afternoon-color

.icon-evening
  color $evening-color
