@require "_variables.styl"
@require "iconfont/iconfont.css"

.iconfont
  relative()
  top 1px
  font-size 16px
  &.inactive
    color REMARK_COLOR

.icon-male
  color MALE_COLOR

.icon-female
  color FEMALE_COLOR

.icon-morning
  color MORNING_COLOR

.icon-afternoon
  color AFTERNOON_COLOR

.icon-evening
  color EVENING_COLOR
