.bounce-enter
  opacity 0

.bounce-enter-to
  opacity 1

.bounce-enter-active, .bounce-leave-active
  absolute top left
  width 100%
  height 100%
  animation-timing-function cubic-bezier(.215, .61, .355, 1)

.bounce-enter-active
  animation bounceInLeft .5s

.bounce-leave-active
  animation bounceOutRight .5s

@keyframes bounceInLeft
  from
    opacity 0
    transform translate3d(-2000px, 0, 0)

  60%
    opacity 1
    transform translate3d(25px, 0, 0)

  75%
    transform translate3d(-10px, 0, 0)

  90%
    transform translate3d(5px, 0, 0)

  to
    transform none

@keyframes bounceOutRight
  20%
    opacity 1
    transform translate3d(-20px, 0, 0)

  to
    opacity 0
    transform translate3d(2000px, 0, 0)

.fade-enter-active, .fade-leave-active
  absolute top left
  width 100%
  transition opacity .5s

.fade-enter, .fade-leave-active
  opacity 0
