.bounce-enter-active,
.bounce-leave-active,
.fade-enter-active,
.fade-leave-active
  absolute(left top)
  size 100%

.bounce-enter-active
  z-index 1
  animation bounce-in .5s

.bounce-leave-active
  z-index -1
  animation bounce-out .5s

@keyframes bounce-in
  from
    transform scale(0)

  50%
    transform scale(1.5)

  to
    transform scale(1)

@keyframes bounce-out
  from
    transform scale(1)

  50%
    transform scale(1.5)

  to
    transform scale(0)

.fade-enter-active, .fade-leave-active
  transition opacity .5s

.fade-enter, .fade-leave-active
  opacity 0
