@require "../../styles/_variables"

.container
  .header
    padding 20px 15px
    color REVERSE_COLOR
    margin-top 0
    margin-bottom 10px

    :global(.media-object)
      border-radius 50%
      border 2px solid white

      img
        width 70px
        height 70px

    :global(.media-right) :global(.icon-message)
      position relative
      display inline-block

      &:before
        font-size 30px

      > span
        absolute()
        top 2px
        right -4px
        font-size 12px
        size 18px
        padding 1px
        line-height 16px
        background-color HIGHLIGHT_COLOR
        border-radius 50%
        border 1px solid white
        transform scale(.8)

  .member-show
    margin-bottom 10px
    margin-top -10px
    padding-left 10px
    background-color BACK_COLOR
    color STRESS_COLOR

    :global(.icon-arrow-right)
      font-size 14px

.subscribe-panel
  padding-left 10px
  padding-right 10px
  margin-bottom 5px
  :global(.panel-heading)
    border-color CARD_LINE_COLOR

  :global(.panel-title)
    color STRESS_COLOR
    font-size 15px
    font-weight normal

    small
      color PRIMARY_COLOR

      + a
        font-size 13px
        font-weight 100
        text-decoration none

        > span
          font-size 13px
          color SUBTEXT_COLOR

  :global(.panel-body)
    > span
      margin-right 5px
      transform scale(1.2)

      &, + div
        float left

    .count
      font-size 18px

    .icon-clock
      top 3px

  :global(.panel-footer)
    border-top 1px dashed DASHED_LINE_COLOR
    border-bottom-style none
    background-color REVERSE_COLOR

  .no-course
    > div
      color SUBTEXT_COLOR
      margin-bottom 20px

      + .btn
        height inherit
        padding-left 25px
        padding-right 25px

.card-panel
  margin-bottom 5px
  padding-left 10px
  padding-right 10px

  :global // @stylint ignore
    .panel-heading
      border-color CARD_LINE_COLOR

    .panel-title
      font-size 15px
      font-weight normal

    .panel-body
      display flex
      padding 15px 0

      > div
        width 50%
        float left

        + div
          border-left 1px solid CARD_LINE_COLOR

        > span
          font-size 30px

.contact-panel
  color PRIMARY_COLOR

  > :global(.panel-body)
    padding-top 10px
    padding-bottom 10px

  .member-notice
    + hr
      margin-top 10px
      margin-bottom 10px

  a
    text-decoration none

    &, &:active, &:visited
      color inherit

.kf-panel
  margin-bottom 5px
  padding-left 0
  padding-right 0

  :global // @stylint ignore
    .panel-heading
      border-color CARD_LINE_COLOR
      margin 0 10px

    .panel-body
      padding-bottom 0

  .header
    padding 20px 15px
    color REVERSE_COLOR
    margin-top 0
    margin-bottom 0

    :global // @stylint ignore
      .media-object
        border-radius 50%
        border 2px solid white

        img
          width 70px
          height 70px

      .media-body
        width 180px
        text-align left

      .media-right
        width 80px
        vertical-align middle

      .media-right .icon-message
        relative()
        display inline-block

        &:before
          font-size 30px

        > span
          absolute()
          top 2px
          right -4px
          font-size 12px
          width 18px
          height 18px
          padding 1px
          line-height 16px
          background-color HIGHLIGHT_COLOR
          border-radius 50%
          border 1px solid white
          transform scale(.8)
