.container
  :global(.media-object)
    size 70px
    border 2px solid white
    background-color REVERSE_COLOR

  :global(.media-right)
    white-space no-wrap

  :global(.panel-full)
    margin-top 5px
    margin-bottom 0

    &:last-child
      margin-bottom 15px

  :global(.panel-title)
    color STRESS_COLOR
    font-size 15px
    font-weight normal

  > :first-child
    padding 20px 15px
    color REVERSE_COLOR

    :global(.media-right .icon-message)
      display inline-block

      &:before
        font-size 30px

      > span
        absolute()
        right -8px
        size 28px
        padding 2px
        background-color HIGHLIGHT_COLOR
        border-radius 50%
        border 1px solid white
        scaleSize(8)

.show
  background-color BACK_COLOR
  color STRESS_COLOR
  line-height 22px
  padding-left 10px

  span
    float left

    &:last-child
      font-size 14px

.count
  font-size 18px

.subscription-panel
  :global // @stylint ignore
    .panel-title
      small
        color PRIMARY_COLOR

      a
        scaleSize()

        span
          color SUBTEXT_COLOR

    .panel-body
      > div
        display table-cell

        :global(.iconfont)
          display inline-block
          margin-right 10px
          scaleSize(18)

    .panel-footer
      border-top 1px dashed DASHED_LINE_COLOR
      background-color REVERSE_COLOR

.no-course
  color gray

  :global(.btn)
    margin-top 20px
    padding 2px 25px

.card-panel ul
  display flex

  li
    flex 1

    + li
      border-left 1px solid CARD_LINE_COLOR

    > span
      font-size 30px

.contact-panel
  color PRIMARY_COLOR

  hr
    margin-top 10px
    margin-bottom 10px

  :global(.panel-body)
    padding 10px 0
