@import "../../styles/_variables"

.subscribe-panel
  margin-bottom 5px

  .panel-title
    color STRESS_COLOR
    font-size 15px
    font-weight normal

    small
      color PRIMARY_COLOR

      + a
        font-size 13px
        font-weight 100
        text-decoration none

        > span
          font-size 13px
          color SUBTEXT_COLOR

  .panel-body
    > span
      margin-right 5px
      transform scale(1.2)

      &, + div
        float left

    .count
      font-size 18px

  .panel-footer
    border-top 1px dashed DASHED_LINE_COLOR
    border-bottom-style none
    background-color REVERSE_COLOR

  .no-course
    > div
      color SUBTEXT_COLOR
      margin-bottom 20px

      + .btn
        padding-left 25px
        padding-right 25px

