.modal-item
  :global
    .modal-content
      border-radius 0
      border 0
      margin-top 51px
      box-shadow none
    .modal-body
      padding 0
      display flex
      .sections
        flex 1
    .section
      line-height 45px
      text-align center

