.input-search-group

  display flex
  :global
    .left
      flex 2
    .body
      flex 6
      .search-content
        background $reverse-color
        border 1px solid $border-color
        border-radius 20px
        line-height 33px
        margin 10px
        text-align center
        input
          padding-left 3px
          line-height 33px
          border 0
          padding 0
          width calc(100% - 50px)
          outline 0
        .text
          padding-left 3px
        &.active
          padding-left 10px
          text-align left
    .cancel
      flex 1
      line-height 55px
      padding-left 10px
    .right
      flex 2

