#app
  hi-loading(v-if="progress")
  hi-progress(:progress="progress")
  transition(:name="transition")
    keep-alive
      router-view(v-if="keepAlive")
  transition(:name="transition")
    router-view(v-if="!keepAlive")
  hi-modal#modal
  floating-menu
