#app
  HiLoading(v-if="progress")
  HiProgress(:progress="progress")
  transition(:name="transition")
    keep-alive
      router-view(v-if="keepAlive")
  transition(:name="transition")
  router-view(v-if="!keepAlive")
  HiModal
