.container
  fixed()
  bottom 80px
  width 54px
  z-index 100
  color $back-light-color
  background-color rgba(0, 0, 0, .6)
  border-top-right-radius 30px
  border-bottom-right-radius 30px
  line-height 18px
  transition .5s ease
  white-space nowrap

  span
    display inline-block
    vertical-align middle
    padding 10px 18px

    &:global(.icon-floatingmenu)
      transform scale(22/16)

    + span
      min-width 45px
      padding-left 0
      padding-right 0
      margin-right 10px
      text-align center
