div(:class="classes.container", :style="{width: width + 'px'}", v-if="menuShow", @click="toggleMenu")
  span.iconfont(:class="menuOpen ? 'icon-left' : 'icon-floatingmenu'")
  template(v-for="menu of menus")
    router-link(v-if="menu.link", :to="menu.link", tag="div") {{ menu.text }}
    div(v-else, @click="triggerMenu(menu.action)") {{ menu.text }}
