@require '../../styles/_variables'

.container
  fixed()
  bottom 80px
  width 54px
  z-index 100
  color $back-light-color
  background-color rgba(0, 0, 0, .6)
  border-top-right-radius 30px
  border-bottom-right-radius 30px
  overflow hidden
  line-height 18px
  transition .5s ease

  :global(.icon-floatingmenu)
    font-size 22px

.toggle
  display inline-block
  padding 10px 18px

.menu-list
  white-space nowrap
  height 41px

  span, > div
    display inline-block
    padding 10px 18px

  > div
    min-width 45px
    padding-left 0
    padding-right 0
    margin-right 10px


