@require "../../../styles/_variables"
.container
  .ul-container
    overflow-x scroll
    float left

    ul
      padding 0

      li
        float left
        list-style none
        text-align center
        border-bottom 1px solid

        span
          display block
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          padding 10px 10px

