div(:class="classes.container", :style="{float: float || 'left', width: width || '100%'}", ref="container")
  ul.theme-color(:style="{width: ulWidth + 'px', transform: transform}", v-touch="{methods: true}", ref="ulContainer")
    li(v-for="(tab, index) in tabArray", :class="index === tabIndex ? classes.active : ''", :style="{width: liWidth}", @click="clickItem(tab, index, $event)")
      span {{ tab | tabNameFilter }}
