.container
  padding 15px
  :global
    .voucher-detail
      padding 12px 9px
      background-color $reverse-color
      text-align center
      .btn
        width 64px
        line-height 12px
      .voucher-name
        line-height 40px
      .detail-text
        margin 10px 0
      .media
        .media-left
          white-space nowrap
          text-align right
          .smaller-size
            transform-origin right
        .media-body
          text-align left
          line-height 20px

          p
            margin-bottom 0
            width (14 / 12) * 100%

          .smaller-size
            transform-origin left top
      .media:last-child
        margin-top 0
    .btn-theme-primary
      width 100%
      line-height 28px
      margin-top 20px
