@require "../styles/_variables"

CIRCLE_SIZE = 55px

li
  float left
  text-align center
  margin-left -5px
  color SUBTEXT_COLOR
  &.active
    color REVERSE_COLOR
  &.disabled
    color REMARK_COLOR
  &.monday
    margin-left 0
  relative()
  > div
    width CIRCLE_SIZE
    height CIRCLE_SIZE
    display table-cell
    vertical-align middle
  span
    display block
    line-height 1
    &:first-child
      font-size 20px
    &:last-child
      font-size 16px
      transform scale(12 / 16)
