.cards
  padding 10px
  overflow-y auto

  > div
    &:first-child
      margin-top 0

    margin-top 10px

.on-sales
  relative()
  overflow hidden

  &:after
    absolute()
    scaleSize($tinier-size, , rotate(45deg))
    top 10px
    right -40px
    content '在售'
    background-color $card-tip-bg-orange
    color $reverse-color
    padding 5px 50px
    text-align center
