.container
  padding-bottom 63px

.header
  padding 10px
  color $reverse-color
  text-align center

  h4
    font-size 16px

    &, + h1
      font-weight normal

  h1
    font-size 60px
    margin 13px 0

  :global(.iconfont)
    transform none

.banner
  height 140px
  image('../CardSales/banner.jpg', cover)
  background-position center
  background-size cover

.cards
  padding 10px

  > div
    &:first-child
      margin-top 0

    margin-top 10px
