@require "../../styles/_variables"

BTN_COLOR = #dfd28a

.pic
  absolute(top left)
  width 100%
  height 100%
  overflow hidden
  background-size cover
  background-position center center
  background-repeat no-repeat

.pic1
  image("../MemberIndex/member-index-01.jpg")
  animation pic1 6s linear infinite

.pic2
  image("../MemberIndex/member-index-02.jpg")
  animation pic2 6s linear infinite

.slogan-title
  font-size TOP_SIZE
  transform translate3d(0, 100%, 0)
  animation sloganTitle .6s forwards 2.6s
  max-height (20 / 14) * TOP_SIZE
  width 288px
  border 0
  background none
  text-align center
  padding 0
  resize none
  outline 0
  overflow hidden
  font-kai()

.slogan-body
  width 160px * (14 / 12)
  overflow hidden
  transform translate3d(-100%, 0, 0)
  animation sloganBody 1s forwards 3.3s
  font-song()

.slogan-text
  padding 0
  width 100%
  text-align center
  background none
  resize none
  border 0
  outline 0
  smallSize(SMALLER_SIZE, , translate3d(100%, 0, 0))
  animation sloganText 1s forwards 3.3s

.line
  border-bottom 1px solid black
  transform translate3d(-100%, 0, 0)
  animation line 1s forwards 1.5s
  margin-left auto
  margin-right auto

.outside-circle
  position relative
  width 105px
  height 105px
  border 2px solid BTN_COLOR
  border-radius 101px
  backface-visibility visible

  &:global(.animated)
    opacity 0
    transform scale(0)
    animation showCircle 1s .5s

.content
  position relative
  margin-left auto
  margin-right auto
  max-width 768px
  min-height 480px
  overflow-y hidden

.slogan
  position absolute
  left 50%
  top 30%
  transform translate3d(-50%, 0, 0)
  text-align center
  z-index 3

.slogan-header
  display inline-block
  overflow hidden

.member-menu
  position absolute
  bottom 30%
  z-index 3
  left 50%
  transform translate3d(-50%, 0, 0)
  width 250px

.inside-circle
  width 90px
  height 90px
  position absolute
  left 50%
  top 50%
  color white
  transform translate3d(-50%, -50%, 0)
  border-radius 90px
  background-color BTN_COLOR
  text-align center
  padding 8px 0

.menu-icon
  font-size 24px
  display block
  margin-top 8px
  margin-bottom 5px

.menu-text
  font-size 15px

@keyframes pic1
  from
    transform scale(1.2)
    opacity 1
    z-index 2

  40%
    transform scale(1.04)
    opacity 1
    z-index 2

  50%
    transform scale(1)
    opacity 0
    z-index 1

  90%
    transform scale(1.25)
    opacity 0
    z-index 1

  to
    transform scale(1.2)
    opacity 1
    z-index 2

@keyframes pic2
  from
    transform scale(1)
    opacity 0
    z-index 1

  40%
    transform scale(1.25)
    opacity 0
    z-index 1

  50%
    transform scale(1.2)
    opacity 1
    z-index 2

  90%
    transform scale(1.04)
    opacity 1
    z-index 2

  to
    transform scale(1)
    opacity 0
    z-index 1

@keyframes sloganTitle
  from
    transform translate3d(0, 100%, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes sloganBody
  from
    transform translate3d(-100%, 0, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes sloganText
  from
    smallSize(SMALLER_SIZE, , translate3d(100%, 0, 0))

  to
    smallSize(SMALLER_SIZE, , translate3d(0, 0, 0))

@keyframes line
  from
    transform translate3d(-100%, 0, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes showCircle
  from
    transform scale(0)
    opacity 0

  to
    transform scale(1)
    opacity 1
