.list-items
  margin-top 20px

.portrait
  size 60px
  border-radius 50%
  display inline-block
  background-size cover
  vertical-align middle
  background-position center

.member-gender
  margin-left 8px
  color $placeholder-color

  &:first-child
    margin-left 0

  span
    &:global(.active):first-child
      color $stress-color

    &:last-child
      font-size 14px
      margin-left 3px

.text
  color $remark-color

  :global(.icon-arrow-right)
    color $remark-lighter-color

.security
  margin-bottom 75px
