.pending-pay, .success
  text-align center

.pending-pay
  padding 104px 25px 0

  .icon-warning
    font-size 70px

  .pay-state
    color $primary-color
    font-size $primary-size

  .btn-area
    padding 40px 0

.success
  padding 20px 15px 10px
  background-color $back-light-color

  .icon-check
    font-size 60px

  .pay-state
    font-size 18px
    color $stress-color

  .text
    color $subtext-color
    padding 5px

.btn-area
  padding 40px 15px

  .order-detail
    margin-top 20px

.cancel-transaction
  padding 0 85px

  .btn-area
    padding 20px 15px

.illustrate
  padding 10px

  .title
    font-size 16px
    text-align center
    margin-bottom 10px
    color $primary-color

  img
    width 100%
