@require "../../styles/_variables"

PROGRESS_COLOR = #39b983

.hi-progress
  fixed()
  z-index 100001
  top 0
  left 0
  background-color PROGRESS_COLOR
  width 100%
  height 3px
  transition width .5s ease
