.container
  background-color $reverse-color

  .content
    overflow hidden
    margin-bottom -1px
    padding 0 10px

  ul
    padding 0
    margin-bottom 0
    transition transform .5s

    li
      text-align center
      display inline-block
      vertical-align middle
      overflow ellipsis
      padding 10px

.border
  border 1px solid
  transition transform .5s
