.container
  color $back-light-color
  border-radius 5px
  margin-top 10px

  &:first-child
    margin-top 0

  > div
    height 175px
    background-size cover
    padding 24px 20px

.renewal
  absolute()
  top 24px
  right 20px
  font-size 13px
  line-height 1
  padding 3px 10px
  border-radius 10px
  background-color rgba(0, 0, 0, .3)
  color $back-light-color

.card-name
  font-size 16px

.card-type
  font-size 12px

.time-and-state
  height 50px

.time
  font-size 16px
  top 0

.time-num
  font-size 24px

.state
  float right
  right 0
  width 50px
  height 50px

.card-no
  relative()
  font-size 13px
  margin-top 14px

.operation
  absolute(top, right)
  line-height 1

  > :first-child
    margin-right 5px

  > div
    display inline-block
    border-radius 10px
    padding 3px 10px
    background-color rgba(0, 0, 0, .3)
    color $back-light-color

.expires-and-consumer
  height 23px
  font-size 13px

.time-slot
  text-decoration underline

