div
  button.btn.btn-theme-primary(@click="addModal") Add modal
  button.btn.btn-theme-default(@click="clearModal") Clear modal
  button.btn.btn-theme-default(@click="confirmModal") Confirm modal
  button.btn.btn-theme-default(@click="tipModal") Tip modal
  button.btn.btn-theme-default(@click="toastModal") Toast modal
  button.btn.btn-theme-default(@click="promptModal") edit confirm modal
  .theme-color(v-html="promptText")
