.card-head, .card-body
  padding-left 10px
  padding-right 10px
  color $primary-color
  font-size $primary-size
  background-color $back-light-color

.card-head
  padding-top 20px
  padding-bottom 15px

  .value-card
    padding-left 20px

.card
  padding-bottom 10px

.head-item
  padding 10px 10px 0
  color $primary-color
  font-size $common-size

  span
    color $subtext-color

.form-group
  :global(.form-control-static)
    min-height 20px
    padding-bottom 0
    padding-left 20px
    font-size $smaller-size

.card-body
  margin-top 10px

.title
  padding 10px 7px

  span
    padding-left 5px
    border-left 4px solid

.item
  padding 5px 4px
  color $primary-color
  font-size $common-size

  span
    padding-left 5px
    color $subtext-color

.pay
  padding 0
  padding-top 1px
  display table-cell

.payment-amount, .pay-button
  display table-cell

.payment-amount
  width 7000px
  padding 18px 15px
  color $primary-color
  font-size $primary-size
  background-color $back-light-color

  span
    color $subtext-color
    font-size $smaller-size

.pay-button
  width 3000px
  text-align center
  color $reverse-color
  font-size $stress-size

.btn-disable
  background-color $remark-color
