$btn-color = #dfd28a

.content
  relative()
  margin-left auto
  margin-right auto
  max-width 768px
  height 100%
  overflow hidden

// @stylint off
.pic, .mask
  absolute(top left)
  size 100%
  overflow hidden
  background-size cover !important
  background-position center center
  background-repeat no-repeat

// @stylint on
.ani1
  animation pic1 6s linear infinite

.ani2
  animation pic2 6s linear infinite

.pic1
  image("../Home/home-01.jpg")

.pic2
  image("../Home/home-02.jpg")
  animation pic2 6s linear infinite

.mask
  z-index 19
  background linear-gradient(to top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0))

.slogan
  absolute()
  left 50%
  top 30%
  transform translate3d(-50%, 0, 0)
  text-align center
  z-index 30

.slogan-header
  display inline-block
  overflow hidden

.slogan-title
  font-size $top-size
  transform translate3d(0, 120%, 0)
  animation sloganTitle .6s forwards 2.6s
  width 288px
  border 0
  background none
  text-align center
  padding 0
  resize none
  outline 0
  overflow hidden
  margin-bottom 5px
  font-kai()

.line
  border-bottom 1px solid $stress-color
  transform translate3d(-100%, 0, 0)
  animation line 1s forwards 1.5s
  margin-left auto
  margin-right auto

.slogan-body
  width 288px
  overflow hidden
  transform translate3d(-100%, 0, 0)
  animation sloganBody 1s forwards 3.3s
  font-song()

  textarea
    width 100%
    margin 1px
    padding 4px 0
    text-align center
    font-size 12px
    background 0 0
    resize none
    border 0
    outline 0
    transform translate3d(100%, 0, 0)
    animation sloganText 1s forwards 3.3s

.member-menu
  absolute()
  bottom 30%
  z-index 30
  left 50%
  transform translate3d(-50%, 0, 0)
  width 250px

.outside-circle
  relative()
  size 105px
  border 2px solid $btn-color
  border-radius 101px
  backface-visibility visible

  &:global(.animated)
    opacity 0
    transform scale(0)
    animation showCircle 1s .5s

.inside-circle
  size 90px
  middleCenter()
  color $reverse-color
  border-radius 90px
  background-color $btn-color
  text-align center
  padding 8px 0

.menu-icon
  font-size 30px
  display block
  margin-top 3px
  margin-bottom -2px

.menu-text
  font-size 15px

.edit
  absolute()
  padding 6px 20px
  z-index 20
  top 20px
  right 10px
  border-radius 32px
  background-color rgb(98, 98, 98)
  color $reverse-color

.editing
  .slogan-title
    border 1px dashed $reverse-color

.tips
  absolute()
  padding 10px 20px
  top 20px
  left 50%
  transform translate3d(-50%, 0, 0)
  z-index 20
  color $reverse-color
  background-color rgba(0, 0, 0, .2)
  white-space nowrap
  border-radius 20px


@keyframes pic1
  from
    transform scale(1.2)
    opacity 1
    z-index 2

  40%
    transform scale(1.04)
    opacity 1
    z-index 2

  50%
    transform scale(1)
    opacity 0
    z-index 1

  90%
    transform scale(1.25)
    opacity 0
    z-index 1

  to
    transform scale(1.2)
    opacity 1
    z-index 2

@keyframes pic2
  from
    transform scale(1)
    opacity 0
    z-index 1

  40%
    transform scale(1.25)
    opacity 0
    z-index 1

  50%
    transform scale(1.2)
    opacity 1
    z-index 2

  90%
    transform scale(1.04)
    opacity 1
    z-index 2

  to
    transform scale(1)
    opacity 0
    z-index 1

@keyframes sloganTitle
  from
    border 0
    transform translate3d(0, 100%, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes sloganBody
  from
    transform translate3d(-100%, 0, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes sloganText
  from
    transform translate3d(100%, 0, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes line
  from
    transform translate3d(-100%, 0, 0)

  to
    transform translate3d(0, 0, 0)

@keyframes showCircle
  from
    transform scale(0)
    opacity 0

  to
    transform scale(1)
    opacity 1
