$img-wrap-margin = 40px

.container
  form
    padding 0 10px
    margin 0 auto

  @media (min-width 768px)
    form
      width 50%

.yoga
  size 95px
  margin-top $img-wrap-margin
  margin-bottom $img-wrap-margin
  relative()
  background-color $back-color

  > img
    size 90px
    middleCenter()

.form-group
  margin-bottom 25px

  :global(.form-control-static)
    padding-left 50px
    padding-bottom 0
