IMG_WRAP_MARGIN = 40px

.yoga
  size 95px
  margin-top IMG_WRAP_MARGIN
  margin-bottom IMG_WRAP_MARGIN
  relative()
  background-color BACK_COLOR

  > img
    size 90px
    middleCenter()

.form-group
  margin-bottom 25px

  :global(.form-control-static)
    padding-left 50px
    padding-bottom 0
