.container
  .center-block.img-circle(:class="classes.yoga")
    img.img-circle(src="./yoga.jpg", alt="瑜伽")
  .row
    .col-xs-12.col-sm-6.col-sm-push-3.col-lg-4.col-lg-push-4
      form(action="javascript:;", @submit.prevent="submit")
        div(:class="[classes.formGroup, $v.loginMobile.$error && 'has-error']")
          .input-group.input-group-primary
            span.input-group-addon
              span.glyphicon.glyphicon-phone
            input.form-control(type="number", placeholder="请输入手机号",
            v-model="loginMobile", ref="mobile",
            @focus="$v.loginMobile.$reset",
            @blur="$v.loginMobile.$touch")
            span.input-group-addon(v-if="loginMobile", @click="clearMobile")
              span.glyphicon.glyphicon-remove-sign
          p.form-control-static(v-if="$v.loginMobile.$error") 请输入正确的手机号码
        div(:class="[classes.formGroup, $v.verificationCode.$error && 'has-error']")
          .input-group.input-group-primary
            span.input-group-addon
              span.glyphicon.glyphicon-lock
            input.form-control(type="number", placeholder="请输入验证码",
            v-model="verificationCode",
            @focus="$v.verificationCode.$reset",
            @blur="$v.verificationCode.$touch")
            span.input-group-addon.theme-color(@click="getVerificationCode") {{this.limit ? this.limit + 's' : '获取验证码'}}
          p.form-control-static(v-if="$v.verificationCode.$error") 请输入正确的验证码
        button.btn.btn-theme-primary.btn-block.btn-hg(type="submit") 登 录
