@require "../../styles/_variables"

.month
  line-height 25px

.course-types
  li
    width 80px
    padding-left 10px
    padding-right 10px
    height 25px
    line-height 25px
    margin-left -10px
    &.scroll-bg
      border-radius 100px
