.list-items
  margin-top 20px

.portrait
  width 60px
  height 60px
  border-radius 50%
  display inline-block
  background-size cover
  vertical-align middle
  background-position center

.member-gender
  margin-left 8px
  color PLACEHOLDER_COLOR

  &:first-child
    margin-left 0

  span
    &:global(.active):first-child
      color STRESS_COLOR

    &:last-child
      font-size 14px
      margin-left 3px

.text
  color REMARK_COLOR

  :global(.icon-arrow-right)
    color LIGHTER_REMARK_COLOR

.change-mobile
  display inline-block
