div(:class="classes.container")
  form(action="javascript:;")
    ul.list-group.list-group-primary.border-tb(:class="classes.listItems")
      li.list-group-item.border-b(:class="classes.listItem")
        .list-group-left 头像
        .list-group-right
          input.hidden(type="file", @change="previewFile", ref="file")
          div(@click="changePortrait", :class="classes.portrait", v-lazy:background-image="$util.imgPath(memberPortrait)")
          span.iconfont.icon-arrow-right(:class="classes.iconRight")
      li.list-group-item.border-b(:class="classes.listItem")
        .list-group-left 用户名
        .list-group-right
          input(:class="[classes.rightText, classes.memberName]", v-model="memberName")
      li.list-group-item.border-b(:class="classes.listItem")
        .list-group-left 性别
        .list-group-right
          div(@click="changeGender(true)", :class="[classes.memberGender, {'font-black': memberGender}]") 男
            span.iconfont.icon-male(:class="[classes.iconGender, {active: memberGender}]")
          div(@click="changeGender(false)", :class="[classes.memberGender, {'font-black': !memberGender}]") 女
            span.iconfont.icon-female(:class="[classes.iconGender, {active: !memberGender}]")
      li.list-group-item.border-b(:class="classes.listItem")
        .list-group-left 生日
        .list-group-right
          div(:class="[classes.rightText, classes.memberBirthday]") {{memberBirthday}}
          span.iconfont.icon-arrow-right(:class="classes.iconRight")
      li.list-group-item.border-b(:class="classes.listItem")
        .list-group-left 地址
        .list-group-right
          div(:class="[classes.rightText, classes.memberAddress]") {{memberAddress}}
          span.iconfont.icon-arrow-right(:class="classes.iconRight")
      li.list-group-item(:class="classes.listItem")
        div 个人简介
        textarea(:class="[classes.rightText, classes.profileContent]") {{memberProfile}}

    .border-t(:class="classes.bottomSuspension")
      .theme-bg(@click="saveMember", :class="classes.saveBtn") 保存

  .border-tb(:class="classes.security")
    div(:class="classes.itemLeft") 账号安全
    div(:class="classes.itemRight")
      div(:class="[classes.rightText, classes.changeMobile]") 可修改绑定手机号
      span.iconfont.icon-arrow-right(:class="classes.iconRight")
