ICON_ARROW_RIGHT_COLOR = #ccc

.container
  .list-items
    margin-top 20px
    margin-bottom 10px

    .portrait
      width 60px
      height 60px
      border-radius 50%
      display inline-block
      background-size cover
      vertical-align middle
      background-position center

    .member-name
      text-align right

    .member-gender
      margin-left 8px
      color PLACEHOLDER_COLOR

      .icon-gender
        font-size 14px
        margin-left 3px
        vertical-align middle

    .profile-content
      outline 0
      border 0
      resize none
      overflow hidden
      width 100%

  .member-gender, .member-birthday, .member-address, right-text, .icon-right
    display inline-block
    vertical-align middle

  .icon-right
    color ICON_ARROW_RIGHT_COLOR

  .right-text
    color REMARK_COLOR

.change-mobile
  display inline-block

.bottom-suspension
  bottom 0
  width 100%
  position fixed
  padding 13px 16px
  background-color BACK_LIGHT_COLOR

.save-btn
  height 45px
  line-height 45px
  text-align center
  border-radius 30px
  font-size STRESS_SIZE
  color BACK_LIGHT_COLOR
