.container
  font-size COMMON_SIZE

  .member-info, .account-security
    margin-top 10px
    padding-left 10px
    background-color BACK_LIGHT_COLOR

  .item-left, .item-right, .portrait-title, .member-portrait
    display inline-block

  .item-left, .member-portrait, .member-profile
    height 50px
    line-height 50px
    vertical-align middle

  .item-right
    float right
    line-height 50px
    color REMARK_COLOR

  .icon-right
    float right
    height 50px
    margin-left 5px
    margin-right 6px
    line-height 50px
    color ICON_ARROW_RIGHT_COLOR

  .member-info

    ol
      margin-bottom 0

      li
        overflow hidden

        .portrait-title
          height 70px
          line-height 70px

        .member-portrait
          width 60px
          height 60px
          margin-top 5px
          border-radius 50%

        .profile-title
          height 35px
          line-height 35px

        .member-name
          width 80%
          height 49px
          border 0
          outline 0
          margin-top 1px
          margin-right 30px
          text-align right

        .member-gender
          margin-left 10px
          margin-right 10px
          color PLACEHOLDER_COLOR

          .icon-gender
            margin-left 5px

        .profile-content
          outline 0
          border 0
          resize none
          overflow hidden
          width 100%
          min-height 50px
          color PLACEHOLDER_COLOR

      .first-child

        .icon-right
          height 70px
          line-height 70px

  .bottom-suspension
    bottom 0
    width 100%
    position fixed
    padding 13px 16px
    background-color BACK_LIGHT_COLOR

    .save-btn
      height 45px
      font-size STRESS_SIZE
      line-height 45px
      text-align center
      border-radius 30px
      color BACK_LIGHT_COLOR
