div(:class="classes.container")
  form(action="javascript:;")
    ul.list-group.list-group-primary.border-tb(:class="classes.listItems")

      each val, index in [{item:'头像'}, {item:'用户名'}, {item:'性别'}, {item:'生日'}, {item:'地址'}]
        li.list-group-item.border-b
          .list-group-left #{val.item}
          .list-group-right(:class="classes.text")
            case index
              when 0
                input.hidden(type="file", @change="previewFile", ref="file")
                span(@click="changePortrait", :class="classes.portrait", v-lazy:background-image="$util.imgPath(memberPortrait)")
                span.iconfont.icon-arrow-right(:class="classes.iconRight")

              when 1
                input(:class="[classes.memberName]", v-model="memberName")

              when 2
                each val, i in [{gender:true, icon:''}, {gender:false, icon:'fe'}]
                  - var memberGender = "{active: " + (i ? "!" : "") + "memberGender}"
                  span(:class="classes.memberGender", @click="changeGender(" + val.gender + ")")
                    span(:class=memberGender) #{val.gender ? '男' : '女'}
                    span(:class=memberGender, class="iconfont icon-" + val.icon + "male")

              when 3
                span(:class="[classes.memberBirthday]") {{memberBirthday}}
                span.iconfont.icon-arrow-right(:class="classes.iconRight")

              default
                span(:class="[classes.memberAddress]") {{memberAddress}}
                span.iconfont.icon-arrow-right(:class="classes.iconRight")

      li.list-group-item
        | 个人简介
        textarea(rows=3, :class="classes.text") {{memberProfile}}

    .border-t.fixed-bottom
      button.btn.btn-theme-primary(@click="saveMember") 保存

  ul.list-group.list-group-primary.border-tb(:class="classes.security")
    li.list-group-item
      .list-group-left 账号安全
      .list-group-right(:class="classes.text")
        span(:class="classes.changeMobile") 可修改绑定手机号
        span.iconfont.icon-arrow-right(:class="classes.iconRight")
