div(:class="classes.container")
  form(action="javascript:;")
    .border-tb(:class="classes.memberInfo")
      ol.list-unstyled
        li(:class="classes.firstChild")
          .font-black(:class="classes.portraitTitle") 头像
          span.iconfont.icon-arrow-right(:class="classes.iconRight")
          input.dom-hide(type="file", @change="previewFile")
          div(@click="changePortrait", :class="[classes.itemRight, classes.memberPortrait]")(v-lazy:background-image="$util.imgPath(memberPortrait)")
        li.border-t
          .font-black(:class="classes.itemLeft") 用户名
          input(:class="[classes.itemRight, classes.memberName]", v-model = "memberName")
        li.border-t
          .font-black(:class="classes.itemLeft") 性别
          div(:class="classes.itemRight")
            span(@click="changeGender", :class="[classes.memberGender, {'font-black': memberGender}]") 男
              span.iconfont.icon-male(:class="{active: memberGender}")
            span(@click="changeGender", :class="[classes.memberGender, {'font-black': !memberGender}]") 女
              span.iconfont.icon-female(:class="{active: !memberGender}")
        li.border-t
          .font-black(:class="classes.itemLeft") 生日
          span.iconfont.icon-arrow-right(:class="classes.iconRight")
          div(:class="classes.itemRight") {{memberBirthday}}
        li.border-t
          .font-black(:class="classes.itemLeft") 地址
          span.iconfont.icon-arrow-right(:class="classes.iconRight")
          div(:class="classes.itemRight") {{memberAddress}}
        li.border-t
          .font-black(:class="classes.profileTitle") 个人简介
          textarea(:class="classes.profileContent") {{memberProfile}}

    .border-t(:class="classes.bottomSuspension")
      .theme-bg(@click="saveMember", :class="classes.saveBtn") 保存

  .border-tb(:class="classes.accountSecurity")
    .font-black(:class="classes.itemLeft") 账号安全
    span.iconfont.icon-arrow-right(:class="classes.iconRight")
    div(:class="classes.itemRight") 可修改绑定手机号
