div(:class="classes.container")
  form(action="javascript:;")
    ul.list-group.list-group-primary.border-tb(:class="classes.listItems")
      each val, index in [{item:'头像'}, {item:'用户名'}, {item:'性别'}, {item:'生日'}, {item:'地址'}]
        li.list-group-item.border-b(:class="classes.listItem")
          .list-group-left #{val.item}
          .list-group-right(v-if= index === 0)
            input.hidden(type="file", @change="previewFile", ref="file")
            div(@click="changePortrait", :class="classes.portrait", v-lazy:background-image="$util.imgPath(memberPortrait)")
            span.iconfont.icon-arrow-right(:class="classes.iconRight")
          .list-group-right(v-else-if= index === 1)
            input(:class="[classes.rightText, classes.memberName]", v-model="memberName")
          .list-group-right(v-else-if= index === 2)
            each genderVal, i in [{gender:'男', isMale:'true', icon:'icon-male'}, {gender:'女', isMale:'false', icon:'icon-female'}]
              div(@click="changeGender(" + genderVal.isMale + ")", :class="[classes.memberGender, {'font-black':" + (i ? "!" : "") + "memberGender}]") #{genderVal.gender}
              span(:class="[classes.iconGender, {active: " + (i ? "!" : "") + "memberGender}]", class="iconfont " + genderVal.icon)
          .list-group-right(v-else-if= index === 3)
            div(:class="[classes.rightText, classes.memberBirthday]") {{memberBirthday}}
            span.iconfont.icon-arrow-right(:class="classes.iconRight")
          .list-group-right(v-else)
            div(:class="[classes.rightText, classes.memberAddress]") {{memberAddress}}
            span.iconfont.icon-arrow-right(:class="classes.iconRight")
      li.list-group-item(:class="classes.listItem")
        div 个人简介
        textarea(:class="[classes.rightText, classes.profileContent]") {{memberProfile}}

    .border-t(:class="classes.bottomSuspension")
      .theme-bg(@click="saveMember", :class="classes.saveBtn") 保存

  .border-tb(:class="classes.security")
    div(:class="classes.itemLeft") 账号安全
    div(:class="classes.itemRight")
      div(:class="[classes.rightText, classes.changeMobile]") 可修改绑定手机号
      span.iconfont.icon-arrow-right(:class="classes.iconRight")
