{
  "extends": "../../.eslintrc",
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": false,
    "assert": false,
    "expect": false,
    "triggerHTMLEvents": false,
    "triggerMouseEvents": false,
    "triggerTouchEvents": false
  }
}
