{
  "extends": "../../.eslintrc.js",
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": false,
    "assert": false,
    "expect": false,
    "triggerHTMLEvent": false,
    "triggerMouseEvent": false,
    "triggerTouchEvent": false,
    "Vue": false,
    "router": false,
    "store": false
  }
}
