div
  hi-tab(
  :items="items",
  :width="'80%'",
  @toggleTab="toggleTab",
  v-touch="{methods: true}")
    div(:class="classes.rightBtn", @click="toggleMenu")
      | {{ '按钮' }}

  .mask.transparent(v-if="open", @click="toggleMenu")
  div(:class="[classes.dropMenu, open ? classes.open : classes.close]", @click="toggleMenu")
    ul
      li 全部全部全部
      li 小班课
      li 小班课
  div {{ text }}
