.clearfix
  div(:class="classes.container", :style="{width: width || '100%'}", ref="container")
    ul.theme-color(:style="{width: itemsWidth + 'px', transform}", v-touch="{methods: true}", ref="ulContainer")
      li(v-for="(item, index) in items", :style="{width: itemWidth + 'px'}", @tap="toggleItem(item, index)")
        span {{ item.tabName || item }}
    .theme-color(:class="classes.border", :style="{transform: transformBorder, width: itemWidth + 'px'}")
  slot(v-if="$slots.right", name="right")
