@require "../../../styles/_variables"

.container
  overflow hidden
  float left

  ul
    margin 0
    padding 0
    transition transform .5s

    li
      float left
      list-style none
      text-align center
      border-bottom 0

      span
        display block
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding 10px

.border
  float left
  border 1px solid
  transition transform .5s
